@import "~bootstrap/scss/bootstrap";


// Color Scheme Dark
$pos-body-bg: #0b1727;
$pos-bg-navbar-glass--dark: rgba(11,23,39,0.96);
$pos-navbar-vertical-bg-color--dark: $pos-bg-navbar-glass--dark;


//NavBar Verticle
$navbar-vertical-width: 12.625rem !default;
$navbar-vertical-link-color: #9da9bb;

