


// Color Scheme Dark
$pos-bg-navbar-glass--dark: rgba(11,23,39,0.96);
$pos-navbar-vertical-bg-color--dark: $pos-bg-navbar-glass--dark;


//NavBar Verticle


$navbar-vertical-width: 12.625rem !default;

