@import './variables';

body {
  position: relative;
  background-color: $pos-body-bg ;
}

//Color Schemes


//NavBar Vertical

.navbar-vertical {
  position: fixed;
  width: $navbar-vertical-width;
  height: 100vh !important;
  color: $navbar-vertical-link-color;
}

.navbar-vertical-content {
  position: fixed;
  width: navbar-vertical-width;
  height: calc(100vh - 4.25rem);
}
